# Dependências
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# Build
dist/
build/
.next/
out/
coverage/

# Ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log
logs/
debug.log

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# SO
.DS_Store
Thumbs.db

# Cache
.cache/
.tmp/
