.skills-section {
  text-align: center;
  display: flex;
  justify-items: center;
  padding: 2rem;
}

.skills-content {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 30rem;
}

.skill-gif {
  width: 450px;
  transform: translateX(-100%);
  animation: slideInLeft 1.5s forwards;
}

.skill-icons {
  flex-wrap: nowrap;
  gap: 1.5rem;
  margin-bottom: 100px;
  margin-left: 100px;
  animation: slideOutRight 1.5s forwards 0.5s;
}

.skill-icons img {
  width: 50px;
  height: 50px;
}

@keyframes slideInLeft {
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutRight {
  to {
    transform: translateX(-100%);
  }
}
