.section {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body {
  font-family: 'Roboto', sans-serif;
}
.section-lg {
  width: 100%;
  margin: 0 auto;
}

.container {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@keyframes growLine {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

.animate-grow-line {
  animation: growLine 2s ease-out forwards;
}